#sort-container {
	margin: 30px 0px;
}
#date-filter-container {
	margin: 30px 0px;
}
.delete-button-color {
	color: #DB5353;
}
.delete-button-color:hover {
	color: #E57777;
}
.number {
	font-size: 18px;
	font-weight: lighter;
	color: #A89A9A;
}
.type {
	font-size: 13px;
	text-transform: uppercase;
}
.heading p{
	font-size: 20px;
	font-weight: 300;
	margin: 0px;
}
